.skills{
    width: 100%;
    margin-top: 10px;
    h2{
      width: 100%;
      border-bottom: 1px solid black;
      font-weight: 700;
    }
    ul{
      margin: 10px 15px;
      list-style: none;
      display: flex;
      flex-direction: column;
      li{
        font-size: 15px;
      }
    }
  }