.sertificats{
    width: 100%;
    h2{
      width: 100%;
      font-weight: 700;
      border-bottom: 1px solid black;
    }
    ul{
      margin: 10px 15px;
      list-style: none;
      li{
        color: blue;
        font-size: 18px;
        .ul{
          margin: 10px 15px;
          font-size: 16px;
          li{
          color: black;

          }
        }
      }
    }
  }